Flask==0.12.2
sklearn==0.0
numpy>=1.22.2
pandas>=0.0
statsmodels>=0.0
google-cloud>=0.0
tensorflow>0
keras>0
honcho>0
matplotlib>0
scikit-learn>=0.24.2 # not directly required, pinned by Snyk to avoid a vulnerability
scipy>=1.10.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.2.3 # not directly required, pinned by Snyk to avoid a vulnerability